.form__layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form__layout__item {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  margin-bottom: 1rem;
}

.form__layout__plain {
  text-align: left;
  display: grid;
}

select {
  width: 120px !important;
}

select option {
  width: 120px !important;
}
