.form__layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__layout__item {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

select {
  width: 120px !important;
}

select option {
  width: 120px !important;
}
