* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__title {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.nav__link {
  margin-right: 10px;
  background-color: rgb(55 65 81);
  color: white;
  padding-right: 13px;
  padding-left: 13px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
